{
  "ver": "2.0.14",
  "importer": "typescript",
  "imported": true,
  "uuid": "f9af4f3a-76ba-4337-90db-a32450cc9cce",
  "files": [
    ".js",
    ".trans"
  ],
  "subMetas": {},
  "userData": {
    "importAsPlugin": false,
    "moduleId": "project:///assets/Script/ADPlugin/sdkConfig.js"
  }
}
