<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00202_CuteHamsterEatingCarrot_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00203_LittleSnowman_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0077_pilates_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0078_Lucy_riding_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0080_Lucy_jogging_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0081_snowWhite_forestLife_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0083_JourneyToTheWest_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0088_yura_officeHours_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0089_yura_officeGoingHour_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0090_yura_late_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0095_cinderella_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0098_roundStoneFamily_familyPhoto_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0100_roundStoneFamily_Shopping_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0101_roundStoneFamily_brotherAndSister_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0102_roundStoneFamily_dinnerTime_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LevelSprite2_Lock.png</string>
            <key>size</key>
            <string>{1805,1083}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c64604db4b6e1bec449bc416460d7d3c:cc76d6c52933ab9a02520d1f429d1b0d:6e4ab905f4392d3ff0ca61df38b8e365$</string>
            <key>textureFileName</key>
            <string>LevelSprite2_Lock.png</string>
        </dict>
    </dict>
</plist>
