<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0002_watchTV.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006_foxPlayGround.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007_miniLondon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008_relaxation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009_toyStory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0017_catRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0026_rainyDay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0028_hotAirBalloon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0029_fishing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0031_imBusyNow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0032_henjelAndGretel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0034_manInBlack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0039_secretLibrary.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0044_bearPlayground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0045_monkeySecretTrip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0049_surfing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0051_artClass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0052_audition.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0053_penguinPlayGround.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0055_VacationHomeWork.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0062_karin_myLittleWorld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,1444},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0063_karin_late.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,1444},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0064_karin_breaktime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,1444},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0068_snowBoarding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,1444},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0072_RomeoAndJuliet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,1444},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LevelSprite1.png</string>
            <key>size</key>
            <string>{1805,1805}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aab5c0d9b6b67a62c7ca756200211a8d:f9635c36c30e39877ef96577035fd4a4:ceb33ecff62c47a565dad22d1bc7bdcc$</string>
            <key>textureFileName</key>
            <string>LevelSprite1.png</string>
        </dict>
    </dict>
</plist>
