<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00202_CuteHamsterEatingCarrot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>00203_LittleSnowman.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0077_pilates.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0078_Lucy_riding.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0080_Lucy_jogging.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0081_snowWhite_forestLife.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0083_JourneyToTheWest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0088_yura_officeHours.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0089_yura_officeGoingHour.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0090_yura_late.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0095_cinderella.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0098_roundStoneFamily_familyPhoto.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0100_roundStoneFamily_Shopping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0101_roundStoneFamily_brotherAndSister.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0102_roundStoneFamily_dinnerTime.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LevelSprite2.png</string>
            <key>size</key>
            <string>{1805,1083}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0994d0b0cc4f6020ada9acbe4d9e5eb7:c20312dfb32deb7449c6fbb6fbbe3f6c:f7316409762e18efb9f83a236a57c24c$</string>
            <key>textureFileName</key>
            <string>LevelSprite2.png</string>
        </dict>
    </dict>
</plist>
