<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001_alice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,322}</string>
                <key>spriteSourceSize</key>
                <string>{357,322}</string>
                <key>textureRect</key>
                <string>{{0,0},{357,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005_cafeSanfrancisco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{357,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011_Paris.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{718,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0018_camping.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1079,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0019_miniOsaka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1440,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0020_littlePrince.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0025_grandBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0027_flyToTheSky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0030_houseOfForest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0047_yachtParty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0056_VapenSummerVacation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0057_vapenSpa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0058_vapenpacking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0060_oliver_destiny.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0070_venetia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0073_MorningAtTheMountainCabin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0092_explorers_egypt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LevelSprite3.png</string>
            <key>size</key>
            <string>{1801,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a788ff9b049d78acf4f38f9a0379eb6:f1bc5ccc9821f8188b3fcbcae3d17525:56d086ff1a34eb04f0e68c1fc55788ea$</string>
            <key>textureFileName</key>
            <string>LevelSprite3.png</string>
        </dict>
    </dict>
</plist>
