<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001_alice_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005_cafeSanfrancisco_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011_Paris_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0018_camping_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0019_miniOsaka_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,0},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0020_littlePrince_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0025_grandBlue_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0027_flyToTheSky_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0030_houseOfForest_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0047_yachtParty_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,361},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0056_VapenSummerVacation_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0057_vapenSpa_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0058_vapenpacking_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{722,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0060_oliver_destiny_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1083,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0070_venetia_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{1444,722},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0073_MorningAtTheMountainCabin_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{0,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0092_explorers_egypt_Lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,361}</string>
                <key>spriteSourceSize</key>
                <string>{361,361}</string>
                <key>textureRect</key>
                <string>{{361,1083},{361,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LevelSprite3_Lock.png</string>
            <key>size</key>
            <string>{1805,1444}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce398405b57c5e45e4e979183032e445:6ef19ff1842c9b27aa76f78c6357dc3a:2e7d7d4f91dfe605ef5fece78cb0e89e$</string>
            <key>textureFileName</key>
            <string>LevelSprite3_Lock.png</string>
        </dict>
    </dict>
</plist>
